:root {
    --dark-blue-background: rgba(47, 65, 80, 0.651);
    --dark-card-icon: rgba(0, 0, 0, 0.067);
    --white-elements: rgb(255, 255, 255);
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background: url(../img/site-bg.jpg) center/cover no-repeat fixed;
    font-weight: 200;
    overflow: hidden;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

p,
h1 {
    padding: 0;
    margin: 0;
}

label {
    display: none;
}






/* //////////////////////////////////////////////////////////////////////// Animations  */
@-webkit-keyframes header_anim {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes header_anim {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes widget_anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes widget_anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slide_in {
    0% {
        transform: translate(100%);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes slide_in {
    0% {
        transform: translate(100%);
    }

    100% {
        transform: translate(0);
    }
}

@-webkit-keyframes slide_out {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-100%);
    }
}

@keyframes slide_out {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-100%);
    }
}

@-webkit-keyframes zoom {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}








/*//////////////////////////////////////////////////////////////////////// Utilities  */
.bold_txt {
    font-weight: 700;
}

.d_flex {
    display: flex;
}

.d_none {
    display: none;
}

.slide_in {
    -webkit-animation: slide_in 3s forwards ease-in-out;
    animation: slide_in 3s forwards ease-in-out;
}

.slide_out {
    -webkit-animation: slide_out 3s forwards ease-in-out;
    animation: slide_out 3s forwards ease-in-out;
}








/*/////////////////////////////////////////////////////////////////// Header */
.top_bar {
    background: var(--dark-blue-background);
    position: fixed;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 0px 32px -4px rgb(143, 180, 228);
    -webkit-animation: header_anim 1.2s ease-in-out .5s backwards;
    animation: header_anim 1.2s ease-in-out .5s backwards;
}

.top_bar_inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: clamp(1rem, 90%, 95rem);
    padding: .7rem 0;
    margin: 0 auto;
    color: var(--white-elements);
}

.main_header {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    font-weight: 200;
}

.date {
    font-size: clamp(1.3rem, 2.3vw, 3rem);
    font-weight: 700;
}








/*////////////////////////////////////////// Carousel with single day detale info */
.blur_layer,
.slides_panel {
    position: fixed;
    transition: background .5s ease-in-out;
}

.blur_layer {
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    background: rgba(0, 0, 0, 0.342);
    width: 100%;
    height: 100vh;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.slides_panel {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .5s ease;
    z-index: 99999;
    overflow: hidden;
    width: 0;
    height: clamp(430px, 65vh, 488px);
    background: rgba(0, 0, 0, 0.507);
}

.single_day {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    color: var(--white-elements);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide_buttons {
    position: absolute;
    bottom: .8rem;
    left: 50%;
    transform: translate(-50%);
    display: none;
    justify-content: space-between;
    align-items: center;
}

.close_btn {
    position: absolute;
    right: 5%;
    z-index: 999999999;
    width: 4rem;
    height: 4rem;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(2rem, 4vw, 3rem);
    color: var(--white-elements);
    cursor: pointer;
}

.slide_btn {
    cursor: pointer;
    height: .6rem;
    width: .6rem;
    border-radius: 50%;
    border: 1px solid var(--white-elements);
    margin-left: .5rem;

}

.slide_btn:hover {
    background: var(--white-elements);
    transition: background .2s ease-in-out;
}

.slide_left_btn,
.slide_right_btn {
    width: 4rem;
    background: none;
    color: white;
    border: none;
    transition: transform .3s ease;
    cursor: pointer;
}

.slide_left_btn:hover,
.slide_right_btn:hover {
    transform: scale(1.3);
}

.slide_left_btn {
    margin-right: .5rem;
}

.slide_right_btn {
    margin-left: 1rem;

}

.single_slide_informations {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    max-width: 600px;
}

.day_date {
    font-size: clamp(1.5rem, 2vw, 2rem);
}


.single_slide img {
    height: clamp(3rem, 4vw, 5rem);
}

.slide_day_temp {
    font-size: 2rem;
    margin-bottom: .3rem;
}

.detale_inf {
    font-size: .9rem;
}








/*////////////////////////////////////////////////////////////// Main */
.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget_container {
    position: relative;
    width: clamp(15rem, 80vw, 90rem);
    margin: 7rem 0 2rem;
    -webkit-animation: widget_anim 2s backwards;
    animation: widget_anim 2s backwards;
}

.image_container {
    position: relative;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
    height: clamp(20rem, 47vh, 30rem);
}

.error_message {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 999;
    text-align: center;
    opacity: 0;
    transform: translate(-50%, 100%);
    font-size: 1.2rem;
    width: 30%;
    padding: 1rem 2rem;
    background: rgb(238, 217, 177);
    border-radius: 1rem;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    border: 2px solid rgb(255, 255, 255);
}

.show_error {
    transform: translate(-50%, -30%);
    opacity: 1;
}

.hide_error {
    opacity: 0;
    transform: translate(-50%, 100%);
}

.city_photo {
    background: url(../img/widget-bg.jpg) center/cover no-repeat;
    height: 100%;
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
}

.city_photo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    -webkit-filter: blur(15px);
    filter: blur(20px);
    border-radius: 1rem 1rem 0 0;
}

.slide_right {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.city_name,
.city_info {
    z-index: 800;
    color: var(--white-elements);
    text-align: center;
}

.city_name {
    position: relative;
    width: 40%;
    font-size: 3.5rem;
}

.city_name::before {
    content: '';
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%);
    display: block;
    width: 4rem;
    height: 2px;
    background: var(--white-elements);
}

.city_info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather_descr {
    font-size: 1.3rem;
    margin: 1rem 0;
}

.sunset {
    margin-left: 2rem;
}

.temp {
    font-size: clamp(2rem, 4vw, 5rem);
}

.current_weather_icon {
    height: 4rem;
    width: 4rem;
}








.bottom_screen {
    background: rgb(255, 255, 255);
}

.search_bar {
    position: relative;
    background-color: var(--dark-blue-background);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .7rem 0;
    color: var(--white-elements);
    font-size: 1.3rem;
    border-radius: 0 0 1rem 1rem;
}

input[type="search"] {
    margin: 0 1.3rem;
    width: clamp(10rem, 30%, 30rem);
    padding: .4rem;
    border-radius: .4rem;
    color: var(--white-elements);
    border: 1px solid rgba(255, 255, 255, 0.459);
    background: rgba(255, 255, 255, 0.281);
}

::-webkit-input-placeholder {
    color: rgb(212, 212, 212);
}

::-moz-placeholder {
    color: rgb(212, 212, 212);
}

:-ms-input-placeholder {
    color: rgb(212, 212, 212);
}

::-ms-input-placeholder {
    color: rgb(212, 212, 212);
}

::placeholder {
    color: rgb(212, 212, 212);
}

.search_button {
    font-size: 1rem;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.493);
    color: var(--white-elements);
    border-radius: 1rem;
    padding: .3rem .8rem;
    cursor: pointer;
    transition: transform .1s linear;
}

.search_button:hover {
    transform: scale(1.1);
}

.seven_days_switch,
.hours_switch {
    position: absolute;
    bottom: .8rem;
    cursor: pointer;
    transition: transform .2s ease-in-out;
    transform: scale(0);
    font-size: 1.1rem;
}

.seven_days_switch {
    right: 4.5rem;
}

.hours_switch {
    right: 1rem;
}

.seven_days_switch::before,
.hours_switch::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 2rem;
    display: block;
    width: 0;
    height: 2px;
    background: var(--white-elements);
    transform: translate(-50%);
    transition: width .2s linear;
}

.seven_days_switch:hover::before,
.hours_switch:hover::before {
    width: 100%;
}








.bottom_menu {
    position: relative;
    min-height: 11rem;
    background: rgba(255, 255, 255, 0.664);
    border-radius: 0 0 1rem 1rem;
    display: flex;
    overflow: hidden;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 1s ease;
}

.hourly_forecast {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    border-radius: 0 0 1rem 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    transform: translate(0, 100%);
    transition: transform .9s ease-in-out;
}

.weather_card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: .5rem 0;
    transition: box-shadow .2s linear, transform .2s ease-in;
}

.weather_card:hover {
    box-shadow: 0px 0px 28px -4px #000000;
}

.weather_card img {
    height: 4rem;
}

.seven_days_container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    width: 100%;
    display: flex;
    transition: transform .9s ease-in-out;
}

.day {
    cursor: pointer;
    padding-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    transform: scale(0);
    transition: box-shadow .2s linear, transform .2s ease-in;
}

.day:nth-of-type(2n - 1),
.weather_card:nth-of-type(2n - 1) {
    background: var(--dark-card-icon);
}

.day:hover {
    box-shadow: 0px 0px 28px -4px #000000;
}

.day img {
    height: 5rem;
}

.day_temp {
    color: rgb(82, 82, 82);
    font-size: clamp(1.1rem, 1.8vw, 2rem);
}








/* /////////////////////////////////////////////////////////////////Media queries */
@media (max-width: 1150px) {
    .widget_container {
        width: clamp(15em, 90vw, 90rem);
    }

    .search_bar {
        flex-direction: column;
    }

    input[type="search"] {
        margin: .8rem 0;
        width: 60%;
    }

    .search_button {
        width: clamp(5rem, 30vw, 15rem);
    }

    .bottom_menu {
        min-height: 8.5rem;
    }

    .hourly_forecast {
        padding: 0;
    }

    .hourly_forecast img {
        height: clamp(2.5rem, 5vw, 6rem);
    }

    .day img {
        height: clamp(3.5rem, 5vw, 5rem);
    }
}





@media (max-width: 750px) {

    body {
        overflow: auto;
    }

    .widget_container {
        width: clamp(15em, 100vw, 90rem);
        margin: 0;
    }

    .error_message {
        width: 80%;
    }

    .top_bar_inner {
        flex-direction: column;
    }

    .image_container {
        border-radius: 0;
        height: 85vh;
    }

    .city_photo {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 2.5rem;
    }

    .city_info {
        width: 90%;
    }

    .city_name {
        width: 100%;
    }

    .city_name::before {
        display: none;
    }

    .ct_name {
        margin-top: 8rem;
        font-size: clamp(4rem, 15vw, 6rem);
    }

    .search_bar {
        min-height: 15vh;
        padding: 0 0 .4rem;
    }

    input[type="search"] {
        width: 80%;
    }

    .hours_switch {
        right: 1rem;
    }

    .seven_days_switch {
        left: .6rem;
        max-width: 4.5rem;
    }

    .bottom_menu {
        border-radius: 0;
        height: 21rem;
        display: none;
    }

    .seven_days_container {
        top: 0;
        flex-direction: column;
    }

    .day {
        padding: .4rem;
        flex-direction: row;
        border-radius: 0;
    }

    .day img {
        height: 2rem;
        margin: 0 1.3rem 0;
    }

    .hourly_forecast {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr 1fr;
    }

    .weather_card {
        flex-direction: row;
        border-bottom: 1px solid rgb(175, 175, 175);
        border-radius: 0;
        padding: 0;
    }
}





@media (orientation: landscape) and (max-height: 750px) and (max-width: 750px) {

    .top_bar {
        display: none;
    }

    .ct_name {
        padding-right: .7rem;
    }

    .slides_panel {
        height: clamp(320px, 60vh, 350px);
    }

    .single_day {
        min-height: 0;
        top: 10%;
    }

    .slide_buttons {
        bottom: 1rem;
    }

    .image_container {
        height: 80vh;
    }

    .city_photo {
        padding: 1rem 0;
        flex-direction: row;
        align-items: center;
    }

    .close_btn {
        bottom: 4rem;
        right: 50%;
        transform: translateX(50%);
    }

    .weather_descr {
        margin: .3rem 0;
    }

    .ct_name {
        margin: 0;
    }
}




@media (max-height: 680px) {
    body {
        overflow: auto;
    }
}




@media (max-height: 600px) {

    .slides_panel {
        height: clamp(320px, 60vh, 350px);
    }

    .single_day {
        min-height: 0;
        top: 10%;
    }

    .slide_buttons {
        bottom: 1rem;
    }

    .close_btn {
        bottom: 2.5rem;
        right: 50%;
        transform: translateX(50%);
    }

    .single_slide_informations {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(6, auto);
    }

    .day_date {
        font-size: 2rem;
        text-align: right;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .detale_weather {
        grid-column: 1/5;
        grid-row: 2/3;
        margin-bottom: .5rem;
    }

    .slide_day_temp {
        grid-column: 4/5;
        grid-row: 1/2;
        text-align: left;
    }

    .single_slide_informations li:nth-of-type(2) {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
    }

    .single_slide_informations li:nth-of-type(5) {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .single_slide_informations li:nth-of-type(6) {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .single_slide_informations li:nth-of-type(7) {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .single_slide_informations li:nth-of-type(8) {
        grid-column: 1/3;
        grid-row: 6/7;
    }

    .single_slide_informations li:nth-of-type(9) {
        grid-column: 3/5;
        grid-row: 3/4;
    }

    .single_slide_informations li:nth-of-type(10) {
        grid-column: 3/5;
        grid-row: 4/5;
    }

    .single_slide_informations li:nth-of-type(11) {
        grid-column: 3/5;
        grid-row: 5/6;
    }

    .single_slide_informations li:nth-of-type(12) {
        grid-column: 3/5;
        grid-row: 6/7;
    }
}