:root {
    --dark-blue-background: #2f41508e;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background: url(img/egor-myznik-yLO8daz0dzA-unsplash.jpg) center no-repeat fixed;
    background-size: cover;
    font-weight: 200;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

p,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

/* //////////////////////////////////////////////////////////////////////// Animations  */

@keyframes slide_in {
    0% {
        transform: translate(100%);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes slide_out {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-100%);
    }
}

/*///////////////////////////////////////////////////////////////////////// Utilities  */

.bold_txt {
    font-weight: 700;
}

.d_flex {
    display: flex;
}

.d_none {
    display: none;
}

/*/////////////////////////////////////////////////////////////////// Top Bar / Header */

.top_bar {
    background: var(--dark-blue-background);
    position: fixed;
    width: 100%;
    z-index: 99999;
    box-shadow: 0px 0px 32px -4px rgb(143, 180, 228);
}

.top__inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: clamp(1rem, 90%, 95rem);
    padding: .7rem 0;
    margin: 0 auto;
    color: white;
}

.main_header {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    font-weight: 200;
}

.date {
    font-size: clamp(1.3rem, 2.3vw, 3rem);
}

/*////////////////////////////////////////////////////////////// Main */

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_section {
    position: relative;
    width: clamp(15rem, 80vw, 90rem);
    margin: 7rem 0 2rem;
}

.image_container {
    position: relative;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
    height: clamp(20rem, 47vh, 30rem);
}

.city_photo {
    background: url(img/egidijus-bielskis-8zBouQ1rpxw-unsplash.jpg) center no-repeat;
    background-size: cover;
    height: 100%;
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
}

.city_photo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.455);
    filter: blur(20px);
    border-radius: 1rem 1rem 0 0;
}

.first_slide_p {
    position: relative;
    z-index: 9999999;
    font-size: clamp(3rem, 4vw, 6rem);
    color: white;
    width: 100%;
    text-align: center;
}

.slide_right {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.slide_in {
    animation: slide_in 3s forwards ease-in-out;
}

.slide_out {
    animation: slide_out 3s forwards ease-in-out;
}

.city_name,
.city_info {
    z-index: 800;
    color: white;
    text-align: center;
}

.city_name {
    position: relative;
    width: 40%;
    font-size: 3.5rem;
}

.city_name::before {
    content: '';
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%);
    display: block;
    width: 4rem;
    height: 2px;
    background: white;
}

.city_info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather_descr {
    font-size: 1.3rem;
    margin: 1rem 0;
}

.sunset {
    margin-left: 2rem;
}

.temp {
    font-size: clamp(2rem, 4vw, 5rem);
}

.current_weather_icon {
    height: 4rem;
    width: 4rem;
}

.bottom_screen {
    background: rgb(255, 255, 255);
}

.search {
    position: relative;
    background-color: var(--dark-blue-background);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .7rem 0;
    color: white;
    font-size: 1.3rem;
    border-radius: 0 0 1rem 1rem;
}

input[type="search"] {
    margin: 0 2rem;
    width: clamp(10rem, 30%, 30rem);
    padding: .4rem;
    border-radius: .4rem;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.459);
    background: rgba(255, 255, 255, 0.281);
}

label[for="search"] {
    font-size: 1.3rem;
}

::placeholder {
    color: rgb(212, 212, 212);
}

.search_button {
    font-size: 1rem;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.493);
    color: white;
    border-radius: 1rem;
    padding: .3rem .8rem;
    cursor: pointer;
    transition: transform .1s linear;
}

.search_button:hover {
    transform: scale(1.1);
}

.seven_days,
.hours {
    position: absolute;
    bottom: .8rem;
    cursor: pointer;
    transition: transform .2s linear;
}

.seven_days {
    right: 6rem;
}

.hours {
    right: 2rem;
}

.hours:hover,
.seven_days:hover {
    transform: scale(1.2);
}

.bottom_menu {
    position: relative;
    min-height: 11rem;
    background: rgba(255, 255, 255, 0.664);
    border-radius: 0 0 1rem 1rem;
    display: flex;
    overflow: hidden;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 1s ease;
}

.hourly_forecast {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    padding: 2rem .5rem;
    width: 100%;
    height: 100%;
    border-radius: 0 0 1rem 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    gap: .5rem;
    transform: translate(0, 100%);
    transition: transform .9s ease-in-out;
}

.weather_card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.weather_card img {
    width: 4rem;
    height: 4rem;
}

.right {
    position: absolute;
    top: 50%;
    left: 50%;
    top: 0.5rem;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    transition: transform .9s ease-in-out;
}

.day {
    margin-left: .5rem;
    padding: .4rem;
    cursor: pointer;
    border-radius: .3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    transform: scale(0);
    transition: box-shadow .2s linear, transform .2s ease-in;
}

.day:hover {
    box-shadow: 0px 0px 28px -4px #000000;
}

.day img {
    height: 5rem;
}

.icon_temp {
    color: rgb(82, 82, 82);
    font-size: clamp(1rem, 1.8vw, 2rem);
}


/* /////////////////////////////////////////////////////////////////Media queries */

@media (max-width: 1150px) {
    .main_section {
        width: clamp(15em, 90vw, 90rem);
    }

    .seven_days {
        margin: 0;
    }

    .search {
        flex-direction: column;
    }

    label {
        display: none;
    }

    input[type="search"] {
        margin: .8rem 0;
        width: 60%;
    }

    .search_button {
       width: clamp(5rem, 30vw, 15rem);
    }

    .bottom_menu {
        min-height: 8.5rem;
    }

    .day img {
        height: clamp(3.5rem, 5vw, 5rem);
    }
}

@media (max-width: 650px) {

    .main_section {
        width: clamp(15em, 100vw, 90rem);
        margin: 7rem 0 0;
    }

    .top__inner {
        flex-direction: column;
    }

    .image_container {
        border-radius: 1rem 1rem 0 0;
    }

    .city_photo {
        flex-direction: column-reverse;
        align-items: center;
        padding: 1rem;
    }

    .city_info {
        width: 90%;
    }

    .city_name {
        width: 100%;
    }

    .city_name::before {
        display: none;
    }

    .ct_name {
        font-size: clamp(3rem, 10vw, 6rem);
    }

    input[type="search"] {
        width: 80%;
    }

    .seven_days,
    .hours {
        font-size: 1.1rem;
    }

    .hours {
        right: .5rem;
    }

    .seven_days {
        left: .4rem;
        width: 4.5rem;
    }

    .bottom_menu {
        border-radius: 0;
        height: 100%;
    }

    .right {
        flex-direction: column;
    }

    .day {
        flex-direction: row;
    }
}